/* Installing the font families for the code */
@font-face {
  font-family: "Monument";
  src: url(./assets/fonts/MonumentExtended-Ultrabold.otf);
}

@font-face {
  font-family: "Gilroy";
  src: url(./assets/fonts/Gilroy-Light.otf);
}

/* Installing the font families for the code */

/* Boilerplate code */

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Gilroy";
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
}

/* Boilerplate code */

/* Styles for remaining website */

#main {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  padding-top: 1px;
  overflow-y: scroll;
}
#main::-webkit-scrollbar {
  width: 7px;
}
#main::-webkit-scrollbar-track {
  background: #f9f9f9ea;
  border: 2px black solid;
}
#main::-webkit-scrollbar-thumb {
  background: #000000af;
  border-radius: 3px;
}

#nav {
  height: 12vh;
  width: 100%;
  margin-top: 2vmax;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#nav h1 {
  font-size: 2.5vw;
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Monument";
  letter-spacing: -2px;
  font-weight: 900;
  position: relative;
}

#nav h1:after {
  position: absolute;
  content: "model management";
  font-size: 0.8vw;
  font-family: "Gilroy";
  color: rgb(143, 142, 142);
  letter-spacing: -0.5px;
  top: 65%;
  left: 47%;
}

#nav h2 {
  font-size: 1.5vw;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid black;
  background-color: #d6d6d600;
  transition: all 0.2s linear;
}

#nav h2:hover{
  background-color: #d6d6d6;

}

#nav h2:nth-last-child(2) {
  width: 25%;
}

#nav h2:nth-last-child(1) {
  width: 10%;
  border-right: none;
}

#nav h3 {
  display: none;
}

#center {
  height: 80vh;
  width: 100%;
  padding: 5vh;
  position: relative;
  margin-bottom: 5vh;
}

#content {
  height: 75vh;
  width: 100%;
  position: relative;
}

#content video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#overlay {
  /* background-color: red; */
  position: absolute;
  width: 100%;
  top: 0%;
  height: 100%;
  padding: 0px 3vw;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0px);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 5vh;
  transition: all 0.4s ease-in;
}

#overlay:hover{
  background-color: rgba(0, 0, 0, 0.459);
  backdrop-filter: blur(10px);
}


#top {
  display: flex;
  padding: 1vw 0vw;
  align-items: center;
  justify-content: space-between;
}

#top h1 {
  font-family: "Monument";
  color: white;
  font-size: 50px;
  letter-spacing: 3px;
  width: fit-content;
}


#circle-boundary {
  background-color: transparent;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid white;
}

#circle-boundary p {
  font-size: 20px;
  font-family: "Gilroy";
  color: white;
}

#bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 0vw;
}

#bottom h3 {
  font-size: 20px;
  letter-spacing: 0px;
  color: white;
}

#bottom i {
  color: white;
  font-size: 30px;
}

#boundary {
  display: block;
  border: 1.5px solid white;
}

#scroller {
  height: 30vh;
  width: 100%;
  /* background-color: red; */
  padding: 2vw 0vw;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  gap: 2vw;
}

#scroll-container {
  height: 20vh;
  width: 100%;
  gap: 2vw;
  /* background-color: black; */
  display: flex;
  animation: marquee-animation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.actor {
  flex-shrink: 0;
  height: 21vh;
  width: 10.1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.actor img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.actor p {
  font-size: 0.8vw;
  font-weight: 800;
}

#alphabet {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  height: 10vh;
  width: 100%;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

#alphabet h5 {
  font-size: 1.2vw;
  font-style: italic;
  border-bottom: 1px black solid;
  margin-right: 1.5vw;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 4px;
}

#alphabet h5:hover{
  cursor:default;
} 

#alphabet h6 {
  font-size: 0.9vw;
  font-style: italic;
  height: 3vh;
  width: 1.5vw;
  padding: 1.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0);
}

#alphabet h6:hover {
  border: 1px solid rgba(0, 0, 0);
  cursor:pointer;
}

#page2 {
  height: 100%;
  width: 100%;
  padding: 5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#page2-part1{
  height: 100%;
  width:50%;
}

#page2-part1 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 20px;
}

#page2-part2{
  height: 100%;
  width: 30%;
}

#page2-part2 img{
  border-radius: 20px;
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: top;
  margin-bottom: 50px;
}

#text-container-page2-part2{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 6vw;
}

#text-container-page2-part2 h3{
  font-weight: 800;
}

#text-container-page2-part2 p{
  font-weight: 100;
}

#vogue-text{
  height: 10vh;
  padding: 1vw 2vw;
}

#vogue-text h2{
  font-family: Monument;
  text-align: left;
  font-size: 2.2vw;
  text-transform: uppercase;
}

#page3{
  height: 100%;
  width: 100%;
  display: flex;
  padding: 2vw;
  align-items: center;
  justify-content: space-evenly;
}

#page3-part1{
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#page3-part1 h5{
  height: 15vh;
  font-size: 1.5vw;
}

#page3-part2{
  height: 100%;
  width: 50%;
}

#page3-part2 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 20px;
}


#page3-part1-centertext-container{
  height: 50%;
  width: 100%;
  position: relative;
}

#page3-part1-centertext-container:hover i{
  transform: translateX(10%);
}

#page3-part1-centertext-container img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin-top: 10vh;
}

#page3-part1-centertext-container i{
  font-size: 70px;
  color: white;
  position: absolute;
  top: 62%;
  transition: transform 50ms ease-in-out;

  left: 44%;
}

#page4{
  height: 100%;
  width: 100%;
  padding: 7vh 8vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page4 img{
  height:100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  transform: rotate(0deg);
  transition: transform 300ms ease-in-out;
}

#updates{
  width: 100%;
  padding: 2vw;
  margin-bottom: 10vh;
}

#updates>h1{
  font-family: Monument;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 7vh;
}

.elem{
  height: 12vh;
  width: 100%;
  border-top: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 4vw;
}

.elem:nth-last-child(1){
  border-bottom: 2px solid #000;
}

.elem h4{
  width: 20%;
  font-size: 1.2vw;
}

.elem-text-container{
  width: 40%;
}

.elem-text-container h5{
  text-transform: uppercase;
}

#marque-text{
  margin-top: 5vw;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 1vw 0;

}

#marque-text h1{
  display: inline-block;
  font-family: Monument;
  -webkit-text-stroke: 1px #000;
  color: transparent;
  font-size: 3vw;
  letter-spacing: 3px;
  margin-right: 16px;
  animation-name: marquee-animation-1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#blog{
  height: 100%;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2vw;
  margin-top: 10vh;
  margin-bottom: 20vh;
}

#blog1{
  height: 100%;
  width: 20%;
  /* background-color: blue; */
}
#blog1 h1{
  font-family: Monument;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 7vh;
}


#blog2{
  height: 100%;
  width: 30%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}

#blog2 img{

  height: 60%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

#blog3 img{

  height: 60%;
  width: 100%;
  object-fit: cover;
}
#blog3 h4{
  font-size: 1.4vw;
  text-align: justify;
}
#blog2 h4{
  font-size: 1.4vw;
  text-align: justify;

}


#blog3{
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#footer{
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#footer h1{
  font-size: 2.5vw;
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  font-family: "Monument";
  letter-spacing: -2px;
  font-weight: 900;
  position: relative;
  padding: 2vw 0vw;
}

#footer-container{

  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer-container h4{
  text-align: center;
  height: 100%;
  border-right: 2px solid black;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 26%;
  font-size: 1.3vw;
  padding: 2vw 0vw;
}

#footer-inner-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 0vw 0vw;
  width: 50%;
}

#footer-inner-container>h3{
  width: 100%;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
}

#others-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 70%;
  padding: 2vw;
}
#SocialMediaContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
#copyrightContainer h3{
  font-size: 1vw;
}

#endgame{
  height: 30%;
  width: 100%;
}
/* Styles for remaining website */

/* Responsive Code */

@media (max-width: 600px) {
  #nav {
    height: 8vh;
  }
  #nav h2 {
    display: none;
  }

  #nav h1 {
    font-size: 4vw;
  }

  #nav h3 {
    display: initial;
    font-size: 3vw;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #nav h1:after {
    position: absolute;
    content: "model management";
    font-size: 1.5vw;
    font-family: "Gilroy";
    color: rgb(143, 142, 142);
    letter-spacing: -0.5px;
    top: 58%;
    left: 45%;
  }
  #content {
    height: 55vh;
  }

  #overlay {
    top: 70%;
  }

  #top {
    padding: 3vh 0vh;
  }

  #top h1 {
    font-size: 20px;
  }

  #circle-boundary {
    height: 50px;
    width: 50px;
  }

  #circle-boundary p {
    font-size: 13px;
  }

  #bottom h3 {
    font-size: 13px;
  }

  #center{
    margin-bottom: 50px;
    /* padding: -20px 3vh; */
    height:60vh;
  }

  #scroller{
    height: 8vh;
    width: 100%;
    /* background-color: red; */
    padding: 2vw 0vw;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    gap: 2vw;
    /* background-color: red; */
}

#scroll-container{
    height: 20vh;
    width: 100%;
    gap: 2vw;
    /* background-color: black; */
    display: flex;
    animation: marquee-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



.actor{
    flex-shrink: 0;
    height: 5vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.actor img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.actor p{
    font-size: 0.8vw;
    font-weight: 800;
}

#alphabet{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2vw;
    height: 2vh;
    width: 100%;
    border-top: 1px black solid; 
    border-bottom: 1px black solid; 

}

#alphabet h5{
    font-size: 1.2vw;
    font-style: italic;
    border-bottom: 1px black solid  ;
    margin-right: 1.5vw;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#alphabet h6{
    font-size: 0.9vw;
    font-style: italic;
    height: 0.5vh;
    padding: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0);
}

#alphabet h6:hover{
    border: 1px solid rgba(0, 0, 0);
}
}

/* Responsive Code */

@keyframes marquee-animation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-100% - 2vw));
  }
}

@keyframes marquee-animation-1 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}
